
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h4>
          <a routerLink="/safety">
{{ safety_title }}
          </a>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-body">
{{ safety_description }}
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 mb-3" *ngFor="let safety of safeties">
    <div class="card">
      <div class="card-header">
        <a routerLink="/safety/{{ safety.id }}">
          {{ safety.title }}
        </a>
      </div>
      <div class="card-body">
        {{ safety.description }}
      </div>
    </div>
  </div>
</div>